.reit-appointment-booker {
    margin: 5px;
}

.reit-appointment-header {
    font-weight: bolder;
}

.reit-appointment-scheduled {
    margin: 0px;
    margin-bottom: 30px;
}

/* ============== Scheduler ============= */

.reit-appointment-scheduler-holder {
    padding-bottom: 10px;
}

.arrow {
    margin: 10px;
    color: #999;
    font-size: 12pt;
}

.btn-group-date-pick {
    display: flex;
    align-items: center;
}

.btn-group-date-pick .btn-group-item {
    font-size: 16px;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    width: 32%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.btn-group-item.selected {
    background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210))) !important;
    color: #fff;
}

.time-slot.selected {
    background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210)));
    color: #fff !important;
}

.btn-group>.btn, .btn-group-vertical>.btn {
    flex: 0 1 auto;
}

.date-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    font-size: .7rem;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.column-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px 0;
    position: relative;
    min-height: 64px;
}

.column-container .time-slot {
    cursor: pointer;
    color: var(--dark);
    padding: 15px 8px;
    text-align: center;
}

.column-container .time-slot.unavailable {
    cursor: not-allowed;
    color: #ccc;
}

/* ==================== Input Form ==================== */

.reit-appointment-form {
    margin: 10px;
    margin-bottom: 20px;
}

.reit-appointment-form-submit {
    text-align: right;
    margin-top: 10px;
}